.page2 {
    padding-top: 107px;
    display: flex;
    width: 1440px;
    height: 857px;
    background: #131313;
    align-items: flex-start;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

.page2__side--left {
    width: 576px;
    height: 551px;
    position: relative;
    left: 134px;
    margin-top: 53px;
    margin-right: 50px;
}

.page2__side--right {

    padding-right: 134px;
    position: relative;
}

.page2__img {
    width: 679px;
    height: 482px;
}

.page2__buttons {
    display: flex;
    justify-content: space-between;
    font-family: "Yeseva One";
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
    width: 625px;
}

.page2__button {
    font-family: "Yeseva One";
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.page2__button--current {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;
}

.page2__title {
    font-family: "Yeseva One";
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
    height: 66px;
}

.page2__title::after {
    content: "";
    width: 92px;
    height: 1px;
    top: 53px;
    position: absolute;
    background: #e3b873;
    transform: translate(20%, -85%);
}

.page2__text {
    position: relative;
    top: 34px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
    height: 86px;
    font-family: "Nunito Sans";
    margin-bottom: 42px;
}

.page2__params {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 42px;
}

.page2__params:nth-child(even) {
    margin-bottom: 40px;
}

.page2__params--sity {
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    width: 213px;
    position: relative;
}

.page2__params--sity2 {
    font-family: "Nunito Sans";
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    width: 213px;
    height: 42px;
    padding: 0;
}

.page2__params--appart {
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.page2__params--sity {
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.page2__params--sity2 {
    font-family: "Nunito Sans";
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.page2__images {
    display: none;
}

@media (max-width: 400px) {
    .page2 {
        width: 400px;
        flex-direction: column;
        margin: 0;
    }

    .page2__params {
        width: 340px;
        height: 220px;
    }

    .page2__img {
        display: none;
    }

    .page2__params {
        font-size: 14px;
        line-height: 138.6%;
        font-family: 'Yeseva One';
        text-transform: uppercase;
        color: #E3B873;
        width: 400px;
        height: 350px;

    }

    .page2__title {
        font-family: "Yeseva One";
        font-size: 22px;
        line-height: 138.6%;
        text-align: left;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
        width: 253px;
        height: 66px;
        text-align: center;
    }

    .page2__title::after {
        display: none;
    }

    .page2__text {
        position: relative;
        color: #FFFFFF;
        font-family: 'Nunito Sans';
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
        width: 311px;
        height: 86px;

        top: 7.47%;
        bottom: 91.55%;
    }

    .page2__buttons {
        display: none;
    }

    .page2__side--left {
        width: 400px;
        position: relative;
        padding: 0;
        margin: 0;
        left: 32px;
    }

    .page2__side--right {
        padding: 0;
        position: relative;
    }

    .page2__side--right {
        padding-right: 32px;
    }

    .page2__images {
        background-image: url(../images/image2.1.jpg);
        position: relative;
        display: flex;
        width: 340px;
        height: 241px;
        margin-top: 38px;
        margin-left: -10px;
        background-size: cover;
    }

    .page2__arrow {
        border-radius: 50%;
        background: #E3B873;
        width: 38px;
        height: 38px;
        position: static;
        margin-top: 100px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .page2__arrow svg {
        width: 10px;
        height: 16px;
    }

    .page2__arrow--rigth {
        transform: rotate(-180deg);
        margin-top: 100px;
        margin-left: 240px;
    }
}