.page2 {
    padding-top: 107px;
    display: flex;
    width: 1440px;
    height: 857px;
    background: #131313;
    align-items: flex-start;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

.page2__side--left {
    width: 492px;
    height: 551px;
}

.page2__side--right {
    width: 814px;
    height: 658px;
}
.page2__img{
    width: 679px;
    height: 472px;
}
.page2__buttons {
    display: flex;
    justify-content: space-between;
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
    width: 625px;
}
.page2__button{
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.page2__button--current{
    color: #E3B873;
    border-bottom: 1px solid  #E3B873;
    padding-bottom: 7px;
}
.page2__side--left {
    margin-top: 53px;
    margin-right: 50px;
}

.page2__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.page2__text {
    ont-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.page2__params {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.page2__params--sity {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.page2__params--appart {
    ont-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.page2__params--sity {
    nt-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.page2__params--sity2 {
    ont-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;

}