.page6 {
    display: flex;
    margin: auto;
    width: 1440px;
}

.page6__free {
    background-image: url(../images/Снимок14.JPG);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    width: 702px;
    height: 645px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

}

.page6__form {
    background: black;
    display: flex;
    flex-direction: column;
    font-family: Nunito Sans;
    width: 499px;
    height: 479px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-left: 99px;
    margin-right: 131px;
}

.page6__title {
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 297px;
    height: 47px;
    margin: auto;
    margin-top: 28px;
}

.page6__survey {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    margin-left: 48px;
    margin-right: 48px;
    text-align: left;
    margin-top: 40px;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.page6__name {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.page6__input {
	color: white;
}

.page6__input::placeholder{
	color: white;
}

.page6__checkbox {
    outline: none;
    border-bottom: 2px;
    align-items: baseline;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.page6__button {
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    margin-left: 200px;
    margin-top: 27px;
    width: 213px;
    height: 51px;
}

.page6__vector {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    position: relative;
    margin-top: 60px;
    justify-content: flex-start;
    bottom: -100px;
}

.vector__text {
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    justify-content: flex-start;

}